<div class="content">

    <article class="post">

        <div class="img-new">
            <div class="img-new-slide">

                <div>
                    <div class="slide">
                        <img src="https://www.ole.com.ar/2023/05/13/S35qjoqk2_1290x760__2.jpg" width="100%" height="500px">
                    </div>
                </div>

            </div>
        </div>

        <div class="triangle-bottom-left" style="border-right-width: 1106px;"></div>

        <div class="single-top">
            <div class="single-fecha">
                <h6>Futbol Infantil  • 12 mayo 2023</h6>
            </div>
            <h1 class="entry-title">
                Título de la Noticia
            </h1>
            <div class="subtitulo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus asperiores sunt impedit expedita esse dolorum.
            </div>
        </div>

        <div class="entry-content">

            
            <div class="single-sidebar">
                <div class="single-share">
                    <div class="single-share-title">
                        COMPARTIR
                        <i class="fas fa-share-alt"></i>
                    </div>
                    <div class="single-share-div">
                        <a href="" target="_blank" title="Compartir en Facebook">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </div>
                    <div class="single-share-div">
                        <a href="" target="_blank" title="Compartir en Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet sed molestiae voluptatem nesciunt, quae perferendis cum molestias laboriosam et dolores tempora harum nisi adipisci quis delectus. Numquam esse beatae perferendis, tempore molestias quia modi, iusto explicabo fugit ut voluptatum, repellat eaque eius quaerat laborum placeat sunt et provident iste nostrum?
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae error vel explicabo nisi qui. Id natus illo minus obcaecati quam magnam. Porro dignissimos veritatis debitis voluptatum temporibus commodi minima dolores blanditiis eum quis ab optio magni unde nisi, eius sit, nostrum consequuntur ipsam pariatur exercitationem adipisci placeat deleniti, quisquam ipsum? Nam laborum voluptates quo esse error tempore id aperiam exercitationem dolor aliquam doloribus, unde eos, ea explicabo perferendis, alias facilis. Sunt tempore aliquid doloremque minima.</p>

            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda nulla debitis voluptatibus molestias libero omnis dolor doloremque! Amet, in consequuntur?
            </p>

        </div>

        <br><br>

        <h5 class="fin-text"><strong>Para leer mas noticias como esta, vuelve al inicio.</strong></h5>

        <div class="button-container">
            <a href=""><button class="btn-new"><i class="fa-solid fa-angle-left"></i>Volver</button></a>
        </div>
        
        <br><br><br>

    </article>

</div>