<!--Titulo de la seccion-->
<div class="d-title">
    <h3 class="mt-5 title">Deportes</h3>
</div>
<!--End Title-->

<!--Mini Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Futbol Juvenil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Futbol Senior</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Hockey</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--End mini Navbar-->

<!--Info categorias-->
<div class="container">

    <div class="row mb-3 text-center con-sport">
        <h4 class="ttle-sp">Futbol Juvenil</h4>
        <div class="col-md-8 themed-grid-col">
            <div class="pb-3">
                <h5 class="tx-princ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit obcaecati corporis ipsum
                    inventore omnis ratione, sint quia, exercitationem sed nam sequi doloribus, non neque illum
                    accusamus asperiores eligendi aspernatur atque tenetur ab commodi? Cupiditate, quo repudiandae iure
                    laborum cum autem, similique at architecto voluptates corporis cumque. Natus, veritatis tenetur?
                </h5>
            </div>
            <div class="row">
                <div class="col-md-6 themed-grid-col">
                    <h6>+ Información</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"></li>
                        <li class="list-group-item">Dias: .. y ..</li>
                        <li class="list-group-item">Horarios: de .. a ..</li>
                        <li class="list-group-item">Predio: Lorem, ipsum.</li>
                        <li class="list-group-item">Dirección: Lorem, ipsum dolor.</li>
                      </ul>
                </div>
                <div class="col-md-6 themed-grid-col">
                    <h6>Valores Cuotas</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"></li>
                        <li class="list-group-item">Dias: .. y ..</li>
                        <li class="list-group-item">Horarios: de .. a ..</li>
                        <li class="list-group-item">Predio: Lorem, ipsum.</li>
                        <li class="list-group-item">Dirección: Lorem, ipsum dolor.</li>
                      </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="https://www.ole.com.ar/images/2023/05/03/qf_vmgf-O_400x400__1.jpg" alt="">
        </div>
    </div>

    <div class="separador"></div>

    <div class="row mb-3 text-center con-sport">
        <h4 class="ttle-sp">Futbol Senior</h4>
        <div class="col-md-4">
            <img src="https://www.ole.com.ar/images/2023/05/03/qf_vmgf-O_400x400__1.jpg" alt="">
        </div>
        <div class="col-md-8 themed-grid-col">
            <div class="pb-3">
                <h5 class="tx-princ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit obcaecati corporis ipsum
                    inventore omnis ratione, sint quia, exercitationem sed nam sequi doloribus, non neque illum
                    accusamus asperiores eligendi aspernatur atque tenetur ab commodi? Cupiditate, quo repudiandae iure
                    laborum cum autem, similique at architecto voluptates corporis cumque. Natus, veritatis tenetur?
                </h5>
            </div>
            <div class="row">
                <div class="col-md-6 themed-grid-col">
                    <h6>+ Información</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"></li>
                        <li class="list-group-item">Dias: .. y ..</li>
                        <li class="list-group-item">Horarios: de .. a ..</li>
                        <li class="list-group-item">Predio: Lorem, ipsum.</li>
                        <li class="list-group-item">Dirección: Lorem, ipsum dolor.</li>
                      </ul>
                </div>
                <div class="col-md-6 themed-grid-col">
                    <h6>Valores Cuotas</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"></li>
                        <li class="list-group-item">Dias: .. y ..</li>
                        <li class="list-group-item">Horarios: de .. a ..</li>
                        <li class="list-group-item">Predio: Lorem, ipsum.</li>
                        <li class="list-group-item">Dirección: Lorem, ipsum dolor.</li>
                      </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="separador"></div>

    <div class="row mb-3 text-center con-sport">
        <h4 class="ttle-sp">Hockey Libre</h4>
        <div class="col-md-8 themed-grid-col">
            <div class="pb-3">
                <h5 class="tx-princ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit obcaecati corporis ipsum
                    inventore omnis ratione, sint quia, exercitationem sed nam sequi doloribus, non neque illum
                    accusamus asperiores eligendi aspernatur atque tenetur ab commodi? Cupiditate, quo repudiandae iure
                    laborum cum autem, similique at architecto voluptates corporis cumque. Natus, veritatis tenetur?
                </h5>
            </div>
            <div class="row">
                <div class="col-md-6 themed-grid-col">
                    <h6>+ Información</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"></li>
                        <li class="list-group-item">Dias: .. y ..</li>
                        <li class="list-group-item">Horarios: de .. a ..</li>
                        <li class="list-group-item">Predio: Lorem, ipsum.</li>
                        <li class="list-group-item">Dirección: Lorem, ipsum dolor.</li>
                      </ul>
                </div>
                <div class="col-md-6 themed-grid-col">
                    <h6>Valores Cuotas</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"></li>
                        <li class="list-group-item">Dias: .. y ..</li>
                        <li class="list-group-item">Horarios: de .. a ..</li>
                        <li class="list-group-item">Predio: Lorem, ipsum.</li>
                        <li class="list-group-item">Dirección: Lorem, ipsum dolor.</li>
                      </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="https://resizer.glanacion.com/resizer/CGbzHz_vrsSwwHJf6FAKNhobRH4=/768x0/filters:format(webp):quality(80)/cloudfront-us-east-1.images.arcpublishing.com/lanacionar/RP7UJUY5HFBN3IUWBV67NMQ5HI.jfif" alt="">
        </div>
    </div>

</div>

<br><br><br>