<div class="jumbotron">

    <div class="container text-center text-lg-left">

        <div class="row">
            <div class="col-lg-8 jumbo-ttle">
                <h3 class="display-4 jumbo-sbt">Nuestra Historia</h3>
            </div>
        </div>

    </div>
</div>

<div class="container">

    <div class="row mb-3 text-center">
        
        <div class="col-md-8 themed-grid-col">
            <h5 class="sec-title"> Breve reseña historica</h5>

            <h6 class="sec-subtitle">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt dolores deleniti vel aperiam necessitatibus officia consequuntur quasi eos pariatur, autem natus obcaecati accusantium voluptatem velit minus mollitia perferendis excepturi facere atque! Voluptatibus possimus perferendis nobis adipisci fuga qui necessitatibus quam explicabo rerum exercitationem commodi dicta, animi fugit doloremque illum eos?
            </h6>

            <h6 class="sec-subtitle">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate provident pariatur doloremque dolores est sapiente unde autem nemo consequatur saepe eos natus accusamus optio repudiandae nam alias, nisi sit explicabo facilis modi eaque quasi, magnam quae. Nesciunt, blanditiis? Sequi velit est corporis reiciendis voluptatibus totam earum animi quidem. Atque libero quam accusantium ut obcaecati. Saepe explicabo velit expedita ex blanditiis molestias veritatis laudantium placeat, dignissimos delectus incidunt eaque sint doloribus corporis error possimus voluptatibus tempora unde voluptate! Eveniet eos corporis commodi sint, quia accusantium. Perspiciatis recusandae ducimus deleniti reprehenderit quaerat! Nulla corrupti eius est, praesentium culpa repellat nobis ad quod?
            </h6>

            <h5 class="sec-title">
                Actualidad
            </h5>

            <h6 class="sec-subtitle">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae obcaecati facilis earum, molestiae unde eos officiis dolore. Eius exercitationem iure ad omnis eos architecto, fugiat mollitia? Sit eligendi ea reiciendis, facere ducimus numquam rerum ab, quasi quam illo asperiores ratione modi quaerat natus exercitationem, quibusdam ipsum? Magni placeat magnam esse est soluta ullam, vitae quod saepe adipisci quisquam! Officiis esse a consequatur facilis voluptatibus provident nobis ea ad exercitationem nesciunt, eos reiciendis cumque amet? Perspiciatis!
            </h6>

            <h6 class="sec-subtitle">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat minima, cumque sint dolore debitis recusandae eligendi cum nulla minus molestias veritatis sunt. Quidem veniam id iure, animi eos velit commodi! Aliquam, fugiat corporis aliquid repellat perspiciatis atque autem distinctio amet beatae! Iusto eligendi porro rerum laborum nulla reprehenderit vitae! Illo.
            </h6>

            <h6 class="foot">
                Seguí colaborando para que la historia del Club siga creciendo
            </h6>
        </div>

        <div class="col-6 col-md-4 themed-grid-col">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr1ZnzPiW5WGz1o8-PHy32XihvghSxfwh24w&usqp=CAU" alt="">
            <div class="themed-grid-col">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr1ZnzPiW5WGz1o8-PHy32XihvghSxfwh24w&usqp=CAU" alt="">
            </div>
        </div>
    </div>

</div>
<br><br>