<div class="jumbotron">
    
    <div class="container text-center text-lg-left">

        <div class="row">
            <div class="col-lg-8 jumbo-ttle">
                <h3 class="display-4 jumbo-sbt">Se parte del Club,</h3>
                <h3 class="display-4 jumbo-sbt">y que el Club sea parte de vos</h3>

                <div class="row mt-5 justify-content-center jumbo-sbt">
                    <div class="col-12 col-md-6 pr-md-2">
                        <a class="btn btn-danger btn-lg w-100" href="#" role="button">Asociate</a>
                        <a class="btn btn-danger btn-lg w-100" href="#" role="button">Quiero más info</a>
                    </div>
                    <div class="col-12 col-md-6 pl-md-2 mt-3 mt-md-0">
                    </div>
                </div>

            </div>
            <div class="col-lg-4 align-items-center d-flex">
                <img src="https://www.cariverplate.com.ar/imagenes/contenidos/2020-01/17009-imagennota.jpg" alt="" class="img-fluid">
            </div>
        </div>

    </div>
</div>



<div class="container">
    <div class="title">
        <h3 class="mt-5">La actualidad del Club</h3>
    </div>

    <!--Noticia Principal-->

    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark d-flex">
        <div class="col-md-6 px-0 news-text">
            <strong class="d-inline-block mb-2 text-danger">Subtitulo</strong>
            <h1 class="display-4 fst-italic">Título de la noticia</h1>
            <p class="lead my-3">Mini resumen de la noticia. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Placeat nesciunt sequi iste ratione, non inventore omnis tempora nemo, numquam officiis corrupti totam
                mollitia in expedita!</p>
            <button class="btn-news">
                <p class="lead mb-2"><a href="#" class="text-dark fw-bold bg-danger">Seguir leyendo <i
                            class="fa-solid fa-arrow-right flecha"></i></a>
                </p>
            </button>
        </div>
        <div class="col-md-7 d-flex justify-content-center align-items-center">
            <img src="https://depor.com/resizer/x8BOWblrz58cnhq3Sirk3covoLk=/1200x800/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/DAYT2F5NUNB7VPAFKUPHNDXVQA.jpg" alt="" class="img-fluid img-news">
        </div>
    </div>
    

    <!--Noticias Secundarias-->
    <div class="row">
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-header card-header-image">
                    <a href="#pablo">
                        <img class="img" src="https://i.ytimg.com/vi/7xWxpunlZ2w/maxresdefault.jpg">

                    </a>
                </div>
                <div class="card-body ">
                    <h6 class="card-category text-danger">Subtitulo</h6>

                    <div class="card-title">
                        Titulo de la noticia
                    </div>

                    <p class="card-description">
                        Don't be scared of the truth because we need to restart the human foundation in truth And I love
                        you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    </p>


                </div>
                <div class="card-footer">
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
                        <h6 class="button-ver">SEGUIR LEYENDO <i class="fa-solid fa-arrow-right flecha"></i></h6>

                    </a>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-header card-header-image">
                    <a href="#pablo">
                        <img class="img" src="https://i.ytimg.com/vi/7xWxpunlZ2w/maxresdefault.jpg">

                    </a>
                </div>
                <div class="card-body ">
                    <h6 class="card-category text-danger">Web Designer</h6>

                    <div class="card-title">
                        Tania Andrew
                    </div>

                    <p class="card-description">
                        Don't be scared of the truth because we need to restart the human foundation in truth And I love
                        you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    </p>


                </div>
                <div class="card-footer">
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
                        <h6 class="button-ver">SEGUIR LEYENDO <i class="fa-solid fa-arrow-right flecha"></i></h6>

                    </a>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-header card-header-image">
                    <a href="#pablo">
                        <img class="img" src="https://i.ytimg.com/vi/7xWxpunlZ2w/maxresdefault.jpg">

                    </a>
                </div>
                <div class="card-body ">
                    <h6 class="card-category text-danger">Web Designer</h6>

                    <div class="card-title">
                        Tania Andrew
                    </div>

                    <p class="card-description">
                        Don't be scared of the truth because we need to restart the human foundation in truth And I love
                        you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    </p>


                </div>
                <div class="card-footer">
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
                        <h6 class="button-ver">SEGUIR LEYENDO <i class="fa-solid fa-arrow-right flecha"></i></h6>

                    </a>

                </div>
            </div>
        </div>

    </div>

</div>

<br><br>

<!--Banner tipo footer-->
<footer class="footer">
    <div class="container-f">
        <div class="row">
            <div class="col-md-2 pr-md-2 socio-title">
                <h3 class="b-title">Hacete socio</h3>
                <h3 class="b-title-2">online</h3>
                <p class="btn-banner">QUIERO ASOCIARME <i class="fa-solid fa-arrow-right icon-btn"></i></p>
            </div>
            <div class="col-md-2 pr-md-2 subt-socio">
                <p class="text-subt-socio">El deporte es más que un juego, es una pasión.</p>
                <p class="text-subt-socio">Asociate, apoya al Club y viví esa pasión con nosotros.</p>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled nav-links">
                    <li><span class="material-symbols-outlined">
                            sports_soccer
                        </span>Futbol Junior y Senior</li>
                    <li>Hockey Libre</li>
                </ul>
            </div>
        </div>
    </div>
</footer>