<header>

    <div class="banner-container bg-white rojo-fg">

        <div class="container flex a-center j-between">
            <div class="titulo-principal">
                <span class="black-fg">CLUB SOCIAL Y DEPORTIVO</span>
                VILLA MANZANO
            </div>

            <div class="enlaces-externos flex a-center">
                <div class="enlace over-yellow flex a-center">
    
                    <a href="" class="text">
                        <i class="fa-brands fa-facebook"></i>
                        VILLA MANZANO
                        <b>ME GUSTA</b>
                    </a>
    
                </div>
    
                <div class="enlace over-yellow flex a-center">
                    <a href="#" class="text" target="_blank">
                        <i class="fa-solid fa-globe"></i>
                        <span class="secondary">SEDE </span>
                        <b>ONLINE </b>
                    </a>
                </div>
    
            </div>

            <a href="" id="main-escudo" class="main-escudo">
                <img src="./../../../assets/Fondo Club.png" alt="Escudo">
            </a>
        </div>


    </div>

    <!--Navbar Principal-->

    <div class="navbar-container bg-red" id="main-navbar">
        <div class="data container flex a-center j-between">
            <nav class="main-navigation" id="navigation">

                <div class="menu-cabecera-container">
                    <ul id="menu-cabecera" class="menu">
                        
                        <li class="menu-item menu-item-custom menu-item-object-custom menu-item-has-children menu-item-559">
                            <a href="">NOTICIAS</a>
                        </li>

                        <li class="menu-item menu-item-custom menu-item-object-custom menu-item-has-children menu-item-559">
                            <a href="./deportes">DEPORTES</a>
                        </li>

                        <li class="menu-item menu-item-custom menu-item-object-custom menu-item-has-children menu-item-559">
                            <a href="#">SOCIOS</a>
                            
                            <ul class="sub-menu">
                                <li class="manu-item menu-item-type-post_type menu-item-object-page menu-item-301">
                                    <a href="socios/info">
                                        Quiero ser parte
                                    </a>
                                </li>

                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-300">
                                    <a href="">
                                        Access Fan
                                    </a>
                                </li>
                            </ul>
                        
                        </li>

                        <li class="menu-item menu-item-custom menu-item-object-custom menu-item-has-children menu-item-559">
                            <a href="#">EL CLUB</a>
                            
                            <ul class="sub-menu">
                                <li class="manu-item menu-item-type-post_type menu-item-object-page menu-item-301">
                                    <a href="contacto">
                                        Contacto
                                    </a>
                                </li>

                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-300">
                                    <a href="/historia">
                                        Historia
                                    </a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-300">
                                    <a href="/comision">
                                        Comision
                                    </a>
                                </li>
                            </ul>
                        
                        </li>

                    </ul>
                </div>

            </nav>

            <a href="" class="asociate-texto radius-button gt-xs pointer bold" target="_blank">
                Quiero Asociarme
                <i class="fa-solid fa-arrow-right"></i>
            </a>

        </div>
    </div>
    
</header>

<div class="header-separator"></div>