<header>
<nav  *ngIf="showNavbar">
    <div class="banner-container bg-white rojo-fg">

        <div class="container flex a-center j-between">
            <div class="titulo-principal">
                <span class="black-fg">CLUB SOCIAL Y DEPORTIVO</span>
                VILLA MANZANO
            </div>

            <div class="enlaces-externos flex a-center">
                <div class="enlace over-yellow flex a-center">

                    <a href="" class="text">
                        <i class="fa-brands fa-facebook"></i>
                        VILLA MANZANO
                        <b>ME GUSTA</b>
                    </a>

                </div>

                <div class="enlace over-yellow flex a-center">
                    <a href="./profile" class="text" target="_blank">
                        <i class="fa-solid fa-globe"></i>
                        <span class="secondary">SEDE </span>
                        <b>ONLINE </b>
                    </a>
                </div>

            </div>

            <a href="" id="main-escudo" class="main-escudo">
                <img src="./../../../assets/Fondo Club.png" alt="Escudo">
            </a>
        </div>


    </div>

    <!--Navbar Principal-->

    <div class="navbar navbar-container bg-red" id="main-navbar">
        <div class="data container flex a-center j-between">
            <nav class="main-navigation" id="navigation">

                <div class="menu-cabecera-container">
                    <ul id="menu-cabecera" class="menu">

                        <li
                            class="menu-item menu-item-custom menu-item-object-custom menu-item-has-children menu-item-559">
                            <a href="">NOTICIAS</a>
                        </li>

                        <li
                            class="menu-item menu-item-custom menu-item-object-custom menu-item-has-children menu-item-559">
                            <a href="./deportes">DEPORTES</a>
                        </li>

                        <li>
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                SOCIOS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="">
                                <a class="dropdown-item" href="./socio-info">Quiero Información</a>
                                <a class="dropdown-item" href="#">Quiero ser parte</a>
                                <a class="dropdown-item" href="#">Access Fan</a>
                            </div>
                        </li>

                        <li>
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                EL CLUB
                            </a>
                            <div class="dropdown-menu" aria-labelledby="">
                                <a class="dropdown-item" href="./contacto">Contacto</a>
                                <a class="dropdown-item" href="./comision">Comision</a>
                                <a class="dropdown-item" href="./historia">Historia</a>
                            </div>
                        </li>
                    </ul>
                </div>

            </nav>

            <a href="" class="asociate-texto radius-button gt-xs pointer bold" target="_blank">
                Quiero Asociarme
                <i class="fa-solid fa-arrow-right"></i>
            </a>

        </div>
    </div>
</nav>

</header>

<div class="header-separator"></div>