<header>
    <nav *ngIf="showNavbar">
        <div class="banner-container bg-white rojo-fg">
            <div class="container flex a-center j-between">
                <div class="titulo-principal">
                    <span class="black-fg">CLUB SOCIAL Y DEPORTIVO</span>
                    VILLA MANZANO
                </div>

                <div class="enlaces-externos flex a-center">
                    <div class="enlace over-yellow flex a-center">
                        <a href="https://www.facebook.com/profile.php?id=100068939726478&__cft__[0]=AZXcKl7KC_ZtruhmVRF-dyTkaI5iXp4ZhKE7sRSTJ3rda-HoRylU2taKneSyoNrSUrWsP0pDzRVws_TElfTBg-sx_iVFpq_jpYzlLIS5GuxpdaPtpPoM0veWRZnYanTR-1li6h849Ym7VF0ZLlwdNU3Vihx4nh5zJu57WMLf3N0mwxzexcl34LBoyXz_1i-WCe4&__tn__=-]C%2CP-R" class="text" target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                            VILLA MANZANO
                            <b>ME GUSTA</b>
                        </a>
                    </div>

                    <div class="enlace over-yellow flex a-center">
                        <a href="./access-fan" class="text">
                            <i class="fa-solid fa-globe"></i>
                            <span class="secondary">SEDE </span>
                            <b>ONLINE </b>
                        </a>
                    </div>
                </div>

                <a href="" id="main-escudo" class="main-escudo">
                    <img src="./../../../assets/Fondo Club.png" alt="Escudo">
                </a>
            </div>
        </div>

        <!--Navbar Principal-->
        <div class="navbar navbar-container bg-red" id="main-navbar">
            <div class="data container flex a-center j-between">
                <button class="mobile-menu-toggle" (click)="toggleMobileMenu()">
                    <i [class]="mobileMenuIcon"></i>
                </button>

                <nav class="main-navigation" id="navigation" [class.mobile-active]="isMobileMenuOpen">
                    <div class="menu-cabecera-container">
                        <ul id="menu-cabecera" class="menu">

                            <li
                                class="menu-item menu-item-custom menu-item-object-custom menu-item-has-children menu-item-559">
                                <a href="">NOTICIAS</a>
                            </li>

                            <li
                                class="menu-item menu-item-custom menu-item-object-custom menu-item-has-children menu-item-559">
                                <a href="./deportes">DEPORTES</a>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" (click)="toggleDropdown($event, 'socios')">
                                    SOCIOS
                                </a>
                                <div class="dropdown-menu" [class.show]="dropdowns.socios"
                                    [style.display]="isMobile() && dropdowns.socios ? 'block' : (isMobile() ? 'none' : '')">
                                    <a class="dropdown-item" href="./info-socios"
                                        (click)="closeMobileMenuOnLinkClick()">Quiero Información</a>
                                    <a class="dropdown-item" href="./asociarme" (click)="closeMobileMenuOnLinkClick()">Quiero ser
                                        parte</a>
                                    <a class="dropdown-item" href="./access-fan" (click)="closeMobileMenuOnLinkClick()">Access
                                        Fan</a>
                                </div>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" (click)="toggleDropdown($event, 'elclub')">
                                    EL CLUB
                                </a>
                                <div class="dropdown-menu" [class.show]="dropdowns.elclub"
                                    [style.display]="isMobile() && dropdowns.elclub ? 'block' : (isMobile() ? 'none' : '')">
                                    <a class="dropdown-item" href="./contacto"
                                        (click)="closeMobileMenuOnLinkClick()">Contacto</a>
                                    <a class="dropdown-item" href="./comision"
                                        (click)="closeMobileMenuOnLinkClick()">Comision</a>
                                    <a class="dropdown-item" href="./historia"
                                        (click)="closeMobileMenuOnLinkClick()">Historia</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <a href="./asociarme" class="asociate-texto radius-button gt-xs pointer bold">
                    Quiero Asociarme
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </nav>
</header>

<div class="header-separator"></div>