<!--Titulo de la seccion-->
<div class="c-title">
    <h3 class="mt-5 title">Contacto</h3>

    <h4 class="mt-4 c-sub">Contáctate con nosotros</h4>
</div>
<!--End Title-->

<!--Contacto-->

<div class="container">

    <!--Info Contacto-->
    <div class="row mb-3 text-center con-cont">
        
        <div class="col-md-8 themed-grid-col img-2">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3114.610415156322!2d-68.2140906653479!3d-38.680820610269826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960badee0d94c92b%3A0x13eacb87ca73b75f!2sClub%20Social%20y%20Deportivo%20Villa%20Manzano!5e0!3m2!1ses-419!2sar!4v1683241945716!5m2!1ses-419!2sar"
                width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-6 col-md-4 themed-grid-col">

            <div class="text-con">
                <h5 class="subt-con">
                    Dirección Sede:
                </h5>
                <h5 class="subt-con-2">
                    Tuki tuki tuki 625,
                    Villa Manzano,
                    Río Negro, Argentina.
                    <br><br>
                    Acercate de Lunes a Viernes, de .. a .. hs.
                    <br><br><br><br><br><br>
                    <strong> Te esperamos</strong>
                </h5>
            </div>

        </div>

        <div class="col-md-8 themed-grid-col">
                <img src="https://fotos.perfil.com/2023/02/05/trim/1280/720/sede-centro-jockey-club-cordoba-1504181.jpg" alt="" width="600" height="350" style="border: 0;">
        </div>

        <div class="col-6 col-md-4 themed-grid-col">

            
            <div class="text-con text-con-2">
                <h5 class="subt-con">
                    Teléfono:
                </h5>
                <h5 class="subt-con-2">
                    2990000000 (Lunes a Viernes de 10:00hs a 18:00hs). <br> Solo WhatsApp.
                </h5>
            </div>


            <div class="text-con">
                <h5 class="subt-con">
                    Email:
                </h5>
                <h5 class="subt-con-2">
                    Escribinos a, examplecorreo@gmail.com
                </h5>
            </div>

        </div>

    </div>
    <!--Separador-->
    <div class="separador"></div>

    <!--Forms-->
    <div class="form-con">

        <h6 class="form-title"><strong>Para contactarse con nosotros complete el siguiente Formulario. <br> O escriba un correo a asjdnabsdh@gmail.com</strong></h6>
        <br>

        <div class="row align-items-stretch no-gutters contact-wrap">
            <div class="col-md-12">
                <div class="form">
                    <h3>Formulario de Contacto</h3>

                    <form class="mb-5" method="post" name="contactForm" novalidate="novalidate">
                        <div class="row">

                            <div class="col-md-6 form-group mb-3">
                                <label for="text" class="col-form-label">Nombre*</label>
                                <input type="text" class="form-control" name="name" placeholder="Nombre">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="text" class="col-form-label">Apellido*</label>
                                <input type="text" class="form-control" name="lastname" placeholder="Apellido">
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-12 form-group mb-3">
                                <label for="email" class="col-form-label">Email*</label>
                                <input type="text" class="form-control" name="email" placeholder="Email">
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6 form-group mb-3">
                                <label for="text" class="col-form-label">Asunto*</label>
                                <input type="text" class="form-control" name="subject" placeholder="Asunto">
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-12 form-group mb-3">
                                <label for="message" class="col-form-label">Mensaje*</label>
                                <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Escribe tu mensaje o duda"></textarea>
                            </div>

                        </div>

                        <!--Form Button-->
                        <div class="row">

                            <div class="col-md-12 form-group">
                                <input type="submit" value="Enviar Mensaje" class="btn btn-primary rounded-0 py-2 px-4">
                                <span class="submitting"></span>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <br><br><br><br>

    </div>
</div>