<!--Titulo de la seccion-->
<div class="d-title">
    <h3 class="mt-5 title">Quiero ser parte</h3>
</div>
<!--End Title-->


<!--Contenido Principal-->
<div class="container">

    <!--Informacion asociarse-->
    <div class="row mb-3 text-center con-infos">
        <h4 class="ttle-sp">Asociate</h4>
        <div class="col-md-8 themed-grid-col">
            <div class="pb-3">
                <h4 class="titulo-pr">SE PARTE DE LA HISTORIA DEL CLUB</h4>
                <h5 class="tx-princ">
                    Al asociarte estas colaborando, y nos ayudas a que sigamos mejorando el Club, y así sigamos
                    creciendo.
                </h5>
                <h5 class="tx-princ">Ser socio/a significa formar parte, colaborando de forma activa.</h5>
            </div>
            <div class="row">
                <div class="col-md-6 themed-grid-col">
                    <h6 class="sbt-ben">BENEFICIOS</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"></li>
                        <li class="list-group-item">Participar activamente de las asambleas</li>
                        <li class="list-group-item">Practicar caulquier disciplina, abonando ademas su respectiva cuota
                        </li>
                        <li class="list-group-item">Descuentos en alquiler de salon para eventos.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 themed-grid-col">
                    <h6 class="sbt-ben">VALORES DE CUOTA SOCIAL</h6>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"></li>
                        <li class="list-group-item">Menores: $... por mes</li>
                        <li class="list-group-item">Activo: (mayor de 18 anos) $.... por mes</li>
                        <li class="list-group-item">Grupo familiar: $.... por mes</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="https://img.wallpaper.sc/android/images/1080x1920/android-1080x1920-wallpaper_01335.jpg" alt="">
        </div>
    </div>

    <div class="separador"></div>

    <!--Quiero Asociarme Info-->
    <div class="row mb-3 text-center con-infos">
        <h4 class="ttle-sp">Quiero Asociarme</h4>
        <div>
            <h5 class="subt-is"><strong>Sede: </strong> Acercate de Lunes a Viernes, de 15:00hs a 20:00hs, a la sede del
                Club, ubicada en calle Levalle al 000. Solo tenés que traer tu D.N.I.</h5>

            <h5 class="subt-is subt-is-2"><strong>Online:</strong> Completá el formulario de inscripción Online haciendo
                click en el siguiente botón.</h5>

            <button type="button" class="btn btn-danger">Asociarme</button>
        </div>

        <div>
            <h5 class="subt-is subt-is-2"><strong>Mas información: </strong>La cuota de socio se abona todos los meses,
                o en su defecto, se paga todo el año.
                Tiene hasta el 10 de cada mes para abonar por transferencia o acercarse a abonar a la sede del Club.
            </h5>
            <h5 class="subt-is subt-is-2">
                Cualquier duda no dude en contactarnos:
                WhatsApp: 000000000 (No se atienden llamados).
                <h5>Email: xxxxxxxx@gmail.com
                    O acercarse a la sede del Club, ubicada en Levalle al 000, de 00hs a 00hs.
                </h5>

            </h5>
        </div>

    </div>

    <div class="separador"></div>

    <!--Ya soy socio-->
    <div class="row mb-3 text-center con-infos">

        <h4 class="ttle-sp">Ya soy Socio/a</h4>

        <div>
            <h5 class="subt-is subt-is-2"><strong>Ya soy Albirojo: </strong>Si ya estas asociado al Club, podés ingresar a <strong class="fan"> Access Fan</strong> para pagar tu cuota, ya que disponemos de pagos Online, consultar si adeudas cuotas, ver tu credencial virtual, cambiar tu información, inscribirte a alguna disciplina, etc.
            </h5>
            <button type="button" class="btn btn-danger">Access Fan</button>

            <h5 class="subt-is subt-is-2 subt-is-3">
                Gracias por apoyar al Club <i class="fa-solid fa-heart fa-beat"></i> <i class="fa-solid fa-futbol"></i>

            </h5>
        </div>

    </div>

</div>
