<!--Titulo de la seccion-->
<div class="d-title">
    <h3 class="mt-5 title">Autoridades</h3>
</div>
<!--End Title-->
<!--Contenido-->
<div class="container">

    <div class="row mb-3 text-center">

        <div class="col-md-8 themed-grid-col">

            <!--Miembros-->
            <div class="page-header mt-0">
                <h4 class="subtitle">Miembros Titulares</h4>
            </div>

            <div style="border-top: 1px solid #D9D9D9"></div>

            <ul class="list-unstyled row">
                <li class="col-12 mb-4">
                    <h4 class="m-0"><span class="nombre tt-6 d-block mb-1">Daniel Alejandro</span> <span
                            class="d-block tt-4 text-uppercase">Moyano</span></h4>
                    <h5 class="tt-6 font-weight-bold puesto mt-1 mb-2">Presidente</h5>
                    <h6 class="tt-8 text-muted">Socio N° 1</h6>
                </li>
                <!--Separador-->
                <div style="border-top: 1px solid #D9D9D9"></div>

                <li class="col-6 mb-4">
                    <h4 class="m-0"><span class="nombre tt-6 d-block mb-1">Nestor Osvaldo</span> <span
                            class="d-block tt-4 text-uppercase">Grindetti</span></h4>
                    <h5 class="tt-6 font-weight-bold puesto mt-1 mb-2">Vicepresidente</h5>
                    <h6 class="tt-8 text-muted">Socio N° 4762</h6>
                </li>
                <li class="col-6 mb-4">
                    <h4 class="m-0"><span class="nombre tt-6 d-block mb-1">Juan Ignacio</span> <span
                            class="d-block tt-4 text-uppercase">Marconi</span></h4>
                    <h5 class="tt-6 font-weight-bold puesto mt-1 mb-2">Vicepresidente 2º</h5>
                    <h6 class="tt-8 text-muted">Socio N° 13804</h6>
                </li>
                <!--Separador-->
                <div style="border-top: 1px solid #D9D9D9"></div>
                <li class="col-6 mb-4">
                    <h4 class="m-0"><span class="nombre tt-6 d-block mb-1">Daniel C.</span> <span
                            class="d-block tt-4 text-uppercase">Seoane</span></h4>
                    <h5 class="tt-6 font-weight-bold puesto mt-1 mb-2">Sec. General</h5>
                    <h6 class="tt-8 text-muted">Socio N° 9195</h6>
                </li>
                <li class="col-6 mb-4">
                    <h4 class="m-0"><span class="nombre tt-6 d-block mb-1">Christian Andres</span> <span
                            class="d-block tt-4 text-uppercase">Urreli</span></h4>
                    <h5 class="tt-6 font-weight-bold puesto mt-1 mb-2">Tesorero</h5>
                    <h6 class="tt-8 text-muted">Socio N° 50304</h6>
                </li>
                <!--Separador-->
                <div style="border-top: 1px solid #D9D9D9"></div>
                <li class="col-6 mb-4">
                    <h4 class="m-0"><span class="nombre tt-6 d-block mb-1">Emmanuel Matias</span> <span
                            class="d-block tt-4 text-uppercase">Perez Adalia</span></h4>
                    <h5 class="tt-6 font-weight-bold puesto mt-1 mb-2">Protesorero</h5>
                    <h6 class="tt-8 text-muted">Socio N° 9554</h6>
                </li>
            </ul>

            <!--Separador-->
            <div style="border-top: 1px solid #D9D9D9"></div>

            <!--Vocales-->
            <div class="page-header mt-0">
                <h4 class="mt-5 subtitle">Vocales Titulares</h4>
            </div>

            <!--Separador-->
            <div style="border-top: 1px solid #D9D9D9"></div>

            <ul class="list-unstyled row">
                <li class="col-6 mb-4">
                    <h4 class="m-0"><span class="nombre tt-6 d-block mb-1">Carlos Rene Oscar</span> <span
                            class="d-block tt-4 text-uppercase">Montaña</span></h4>
                    <h5 class="tt-6 puesto mt-1 mb-2">Vocal 1º</h5>
                    <h6 class="tt-8 text-muted">Socio N° 22744</h6>
                </li>
                <li class="col-6 mb-4">
                    <h4 class="m-0"><span class="nombre tt-6 d-block mb-1">Salvador Humberto</span> <span
                            class="d-block tt-4 text-uppercase">Perez</span></h4>
                    <h5 class="tt-6 puesto mt-1 mb-2">Vocal 2º</h5>
                    <h6 class="tt-8 text-muted">Socio N° 3274</h6>
                </li>

                <!--Separador-->
                <div style="border-top: 1px solid #D9D9D9"></div>

                <li class="col-6 mb-4">
                    <h4 class="m-0"><span class="nombre tt-6 d-block mb-1">Adrian S.</span> <span
                            class="d-block tt-4 text-uppercase">Esposito</span></h4>
                    <h5 class="tt-6 puesto mt-1 mb-2">Vocal 3º</h5>
                    <h6 class="tt-8 text-muted">Socio N° 9013</h6>
                </li>
                <li class="col-6 mb-4">
                    <h4 class="m-0"><span class="nombre tt-6 d-block mb-1">Carlos Federico</span> <span
                            class="d-block tt-4 text-uppercase">Rey</span></h4>
                    <h5 class="tt-6 puesto mt-1 mb-2">Vocal 4º</h5>
                    <h6 class="tt-8 text-muted">Socio N° 10250</h6>
                </li>
            </ul>

            <!--Separador-->
            <div style="border-top: 1px solid #D9D9D9"></div>

            <!--Revisores-->
            <div class="page-header mt-0">
                <h4 class="mt-5 subtitle">Revisores de Cuentas</h4>
            </div>

            <!--Separador-->
            <div style="border-top: 1px solid #D9D9D9"></div>

            <ul class="list-unstyled row">
                <li class="col-6 mb-4">
                    <h4 class="m-0"><span class="nombre tt-6 d-block mb-1">Carlos Rene Oscar</span> <span
                            class="d-block tt-4 text-uppercase">Montaña</span></h4>
                    <h5 class="tt-6 puesto mt-1 mb-2">Revisor de Cuentas 1</h5>
                    <h6 class="tt-8 text-muted">Socio N° 22744</h6>
                </li>
                <li class="col-6 mb-4">
                    <h4 class="m-0"><span class="nombre tt-6 d-block mb-1">Salvador Humberto</span> <span
                            class="d-block tt-4 text-uppercase">Perez</span></h4>
                    <h5 class="tt-6 puesto mt-1 mb-2">Revisor de Cuentas 2</h5>
                    <h6 class="tt-8 text-muted">Socio N° 3274</h6>
                </li>
            </ul>

            <!--Separador-->
            <div style="border-top: 1px solid #D9D9D9"></div>
        </div>

        <div class="col-6 col-md-4 themed-grid-col">

            <div class="banner-lateral">
                <div class="content">
                    <h4 class="text">Electos el día</h4>
                    <h5 class="text subtext">01/01/2000</h5>

                    <h4 class="text text-2">Votos a Favor</h4>
                    <h5 class="text subtext">0000</h5>

                    <button class="button-bn">Siguenos en <br> Facebook <i class="fa-brands fa-facebook"></i></button>
                </div>
            </div>


        </div>
    </div>

</div>