<footer class="footer">
    <div class="footer-container">
        <div class="footer__logo-container">
            <img src="./../../../assets/Fondo Club.png" alt="" class="footerlogo" alt="Club Villa Manzano"
                class="footer__logo">
            <div class="footer__title-container">
                <h3 class="footer__title">CLUB SOCIAL Y DEPORTIVO</h3>
                <h3 class="footer__title">VILLA MANZANO</h3>
                <div class="footer__subtitle">Desde 1978</div>
            </div>
        </div>

        <div class="footer__separator"></div>

        <div class="footer__social-media-container">
            <h4 class="footer__social-media-title">Seguinos en nuestras redes sociales</h4>
            <div class="footer__social-media-icons">
                <a href="https://www.facebook.com/profile.php?id=100068939726478&__cft__[0]=AZXcKl7KC_ZtruhmVRF-dyTkaI5iXp4ZhKE7sRSTJ3rda-HoRylU2taKneSyoNrSUrWsP0pDzRVws_TElfTBg-sx_iVFpq_jpYzlLIS5GuxpdaPtpPoM0veWRZnYanTR-1li6h849Ym7VF0ZLlwdNU3Vihx4nh5zJu57WMLf3N0mwxzexcl34LBoyXz_1i-WCe4&__tn__=-]C%2CP-R" class="footer__social-media-link facebook" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="footer__social-media-link youtube" aria-label="YouTube">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://www.instagram.com/clubsocialydeportivovm/" class="footer__social-media-link instagram" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>

        <div class="footer__copyright">
            © 2024 Club Social y Deportivo Villa Manzano. Todos los derechos reservados.
        </div>
    </div>
</footer>