<footer class="footer">
    <div class="footer__logo-container">
        <img src="./../../../assets/Fondo Club.png" alt="" class="footer__logo">
        <div class="footer__title-container">
            <h3 class="footer__title">CLUB SOCIAL Y DEPORTIVO</h3>
            <h3 class="footer__title">VILLA MANZANO</h3>
            <div class="footer__subtitle">Desde 19..</div>
        </div>
    </div>
    <div class="footer__separator"></div>
    <div class="footer__social-media-container">
        <h4 class="footer__social-media-title">Seguinos en nuestras redes sociales</h4>
        <div class="footer__social-media-icons">
            <a href="#" class="footer__social-media-link"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="footer__social-media-link"><i class="fab fa-youtube"></i></a>
            <a href="#" class="footer__social-media-link"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>